.date-cell {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.cell-top-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.cell-bottom-part {
    padding: 5px;
}

.date {
    margin-right: 7px;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 1.1em;
    height: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f7f8;
    padding: 5px;
    border-radius: 25px;
}

.event {
    padding-left: 10px;
    background-color: #efeeee;
    height: 100%;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: left;
}

.event-title {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #39a2a5;
    font-weight: 600;
}

.event-desc {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #39a2a5;
}